# Node Modules
node_modules/
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local

# Build Output
dist/
build/
.out/
.cache/
.next/    # for Next.js projects

# Temporary Files
tmp/
temp/

# IDE and Editor Settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db

# Test Coverage Reports
coverage/

# npm-specific files
package-lock.json
yarn.lock
.pnp/
.pnp.js

# Miscellaneous
*.swp
*.swo
*.bak
*.orig
